*.jl.cov
*.jl.*.cov
*.jl.mem
coverage/
docs/pages/lcov.info
docs/pages/coverage/
Manifest.toml
docs/Manifest.toml
docs/build/
docs/_site
*.claude
*.ipynb
*.quarto
docs/site_libs
docs/.quarto/
docs/*_files/
**/*.quarto_ipynb
gmt.history
*.html
